<ul class="alert alert-danger" *ngIf="errores.length > 0">
    <li *ngFor="let err of errores">
        {{ err }}
    </li>
</ul>
<div class="container">
    <form class="row gy-2 gx-3 align-items-center formulario espacio" >
        <div class="col-sm-3">
            <label >Nombre del Plan</label>
            <input type="text" class="form-control"  [(ngModel)]="plan.plan" name="plan" placeholder="Nombre del Plan">
        </div>
        <div class="col-sm-3">
            <label >Total Minutos</label>
            <input type="text" class="form-control" [(ngModel)]="plan.total_minutos" name="minutos" >
        </div>
        <div class="col-sm-3">
            <label >Total datos en Gb</label>
            <input type="text" class="form-control" [(ngModel)]="plan.total_datos" name="datos">
        </div>
        <div>
            <button type="submit" (click)="create()" class="btn btn-primary boton" *ngIf="!plan.id_plan else elseBlock">Registrar</button>
            <ng-template #elseBlock>
                <button type="submit" (click)="update()" class="btn btn-primary boton" >Actualizar</button>
            </ng-template>
        </div> 
    </form>

    <p class="mt-4">Gestión de consumo de planes de datos en Simcard</p>
    <form class="d-flex mb-3">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
<div class="card border-primary mb-3">
    <!-- <div class="card-header">Operadores</div> -->
    <div class="card-body text-primary">
      
        <div *ngIf="planes.length == 0" class="alert alert-info">
            No hay registros en la base de datos!
        </div>

        <table class="table table-primary table-striped" *ngIf="planes.length > 0">
            <thead>
                <tr>
                    <th>Id_Plan</th>
                    <th>Plan</th>
                    <th>Minutos</th>
                    <th>Datos en Gb</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let plan of planes">
                    <td>{{ plan.id_plan }}</td>
                    <td>{{ plan.plan }}</td>
                    <td>{{ plan.total_minutos }}</td>
                    <td>{{ plan.total_datos }}</td>
                    <td>
                        <button type="button" name="button" class="btn btn-primary" [routerLink] = "['/planes', plan.id_plan]"><i class="bi bi-pencil-square"></i></button>
                        <button type="button" name="button" class="btn btn-danger ms-4" (click)="delete(plan)"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>